<a href="https://colab.research.google.com/github/tejpalla/SparkProjects/blob/main/SupplyChainAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Supply Chain Data Analysis**

How to open this setup in Google colab



*   Go to Google Colab (https://colab.research.google.com/).Sign up if you haven't.
*   In Colab, go to "File" -> "Open notebook".
*   Select the "GitHub" tab.
*   Search for the repository tejpalla/SparkProjects
*   Navigate to the .ipynb file and select it to open.
*   You can either make a copy of this notebook to your drive or store it in git

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, to_date, current_timestamp, when, lit

#loading spark engine
spark = SparkSession.builder \
    .appName("Simple_SupplyChain_Cleaner") \
    .config("spark.sql.legacy.timeParserPolicy", "LEGACY") \
    .getOrCreate()

print("Spark engine is ready.")

In [ ]:
import kagglehub

input_file_path = kagglehub.dataset_download('shashwatwork/dataco-smart-supply-chain-for-big-data-analysis')
output_folder = "cleaned_supply_chain_data"

raw_df = spark.read \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .csv(input_file_path)

print(f"Loaded {raw_df.count()} rows.")
raw_df.printSchema()

Downloading from https://www.kaggle.com/api/v1/datasets/download/shashwatwork/dataco-smart-supply-chain-for-big-data-analysis?dataset_version_number=1...

100%|██████████| 25.7M/25.7M [00:00<00:00, 159MB/s]

Extracting files...

Loaded 650548 rows.
root
 |-- Type: string (nullable = true)
 |-- Days for shipping (real): string (nullable = true)
 |-- Days for shipment (scheduled): string (nullable = true)
 |-- Benefit per order: string (nullable = true)
 |-- Sales per customer: string (nullable = true)
 |-- Delivery Status: string (nullable = true)
 |-- Late_delivery_risk: string (nullable = true)
 |-- Category Id: string (nullable = true)
 |-- Category Name: string (nullable = true)
 |-- Customer City: string (nullable = true)
 |-- Customer Country: string (nullable = true)
 |-- Customer Email: string (nullable = true)
 |-- Customer Fname: string (nullable = true)
 |-- Customer Id: integer (nullable = true)
 |-- Customer Lname: string (nullable = true)
 |-- Customer Password: string (nullable = true)
 |-- Customer Segment: string (nullable = true)
 |-- Customer State: string (nullable = true)
 |-- Customer Street: string (nullable = true)
 |-- Customer Zipcode: integer (nullable = true)
 |-- Department Id: integer (nullable = true)
 |-- Department Name: string (nullable = true)
 |-- Latitude: double (nullable = true)
 |-- Longitude: double (nullable = true)
 |-- Market: string (nullable = true)
 |-- Order City: string (nullable = true)
 |-- Order Country: string (nullable = true)
 |-- Order Customer Id: integer (nullable = true)
 |-- order date (DateOrders): string (nullable = true)
 |-- Order Id: integer (nullable = true)
 |-- Order Item Cardprod Id: integer (nullable = true)
 |-- Order Item Discount: double (nullable = true)
 |-- Order Item Discount Rate: double (nullable = true)
 |-- Order Item Id: integer (nullable = true)
 |-- Order Item Product Price: double (nullable = true)
 |-- Order Item Profit Ratio: double (nullable = true)
 |-- Order Item Quantity: integer (nullable = true)
 |-- Sales: double (nullable = true)
 |-- Order Item Total: double (nullable = true)
 |-- Order Profit Per Order: double (nullable = true)
 |-- Order Region: string (nullable = true)
 |-- Order State: string (nullable = true)
 |-- Order Status: string (nullable = true)
 |-- Order Zipcode: integer (nullable = true)
 |-- Product Card Id: integer (nullable = true)
 |-- Product Category Id: integer (nullable = true)
 |-- Product Description: string (nullable = true)
 |-- Product Image: string (nullable = true)
 |-- Product Name: string (nullable = true)
 |-- Product Price: double (nullable = true)
 |-- Product Status: integer (nullable = true)
 |-- shipping date (DateOrders): string (nullable = true)
 |-- Shipping Mode: string (nullable = true)

In [29]:
#Transform
#renaming columns for better reading
chaindf = raw_df.toDF(*[c.lower().replace(' ', '_').replace('(', '').replace(')', '') for c in raw_df.columns])

print("Columns are now clean:")
print(chaindf.columns)
chaindf.printSchema()

Columns are now clean:
['type', 'days_for_shipping_real', 'days_for_shipment_scheduled', 'benefit_per_order', 'sales_per_customer', 'delivery_status', 'late_delivery_risk', 'category_id', 'category_name', 'customer_city', 'customer_country', 'customer_email', 'customer_fname', 'customer_id', 'customer_lname', 'customer_password', 'customer_segment', 'customer_state', 'customer_street', 'customer_zipcode', 'department_id', 'department_name', 'latitude', 'longitude', 'market', 'order_city', 'order_country', 'order_customer_id', 'order_date_dateorders', 'order_id', 'order_item_cardprod_id', 'order_item_discount', 'order_item_discount_rate', 'order_item_id', 'order_item_product_price', 'order_item_profit_ratio', 'order_item_quantity', 'sales', 'order_item_total', 'order_profit_per_order', 'order_region', 'order_state', 'order_status', 'order_zipcode', 'product_card_id', 'product_category_id', 'product_description', 'product_image', 'product_name', 'product_price', 'product_status', 'shipping_date_dateorders', 'shipping_mode']
root
 |-- type: string (nullable = true)
 |-- days_for_shipping_real: string (nullable = true)
 |-- days_for_shipment_scheduled: string (nullable = true)
 |-- benefit_per_order: string (nullable = true)
 |-- sales_per_customer: string (nullable = true)
 |-- delivery_status: string (nullable = true)
 |-- late_delivery_risk: string (nullable = true)
 |-- category_id: string (nullable = true)
 |-- category_name: string (nullable = true)
 |-- customer_city: string (nullable = true)
 |-- customer_country: string (nullable = true)
 |-- customer_email: string (nullable = true)
 |-- customer_fname: string (nullable = true)
 |-- customer_id: integer (nullable = true)
 |-- customer_lname: string (nullable = true)
 |-- customer_password: string (nullable = true)
 |-- customer_segment: string (nullable = true)
 |-- customer_state: string (nullable = true)
 |-- customer_street: string (nullable = true)
 |-- customer_zipcode: integer (nullable = true)
 |-- department_id: integer (nullable = true)
 |-- department_name: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- market: string (nullable = true)
 |-- order_city: string (nullable = true)
 |-- order_country: string (nullable = true)
 |-- order_customer_id: integer (nullable = true)
 |-- order_date_dateorders: string (nullable = true)
 |-- order_id: integer (nullable = true)
 |-- order_item_cardprod_id: integer (nullable = true)
 |-- order_item_discount: double (nullable = true)
 |-- order_item_discount_rate: double (nullable = true)
 |-- order_item_id: integer (nullable = true)
 |-- order_item_product_price: double (nullable = true)
 |-- order_item_profit_ratio: double (nullable = true)
 |-- order_item_quantity: integer (nullable = true)
 |-- sales: double (nullable = true)
 |-- order_item_total: double (nullable = true)
 |-- order_profit_per_order: double (nullable = true)
 |-- order_region: string (nullable = true)
 |-- order_state: string (nullable = true)
 |-- order_status: string (nullable = true)
 |-- order_zipcode: integer (nullable = true)
 |-- product_card_id: integer (nullable = true)
 |-- product_category_id: integer (nullable = true)
 |-- product_description: string (nullable = true)
 |-- product_image: string (nullable = true)
 |-- product_name: string (nullable = true)
 |-- product_price: double (nullable = true)
 |-- product_status: integer (nullable = true)
 |-- shipping_date_dateorders: string (nullable = true)
 |-- shipping_mode: string (nullable = true)

In [35]:
chaindf.dropna(subset=["delivery_status"])

DataFrame[type: string, days_for_shipping_real: string, days_for_shipment_scheduled: string, benefit_per_order: string, sales_per_customer: string, delivery_status: string, late_delivery_risk: string, category_id: string, category_name: string, customer_city: string, customer_country: string, customer_email: string, customer_fname: string, customer_id: int, customer_lname: string, customer_password: string, customer_segment: string, customer_state: string, customer_street: string, customer_zipcode: int, department_id: int, department_name: string, latitude: double, longitude: double, market: string, order_city: string, order_country: string, order_customer_id: int, order_date_dateorders: string, order_id: int, order_item_cardprod_id: int, order_item_discount: double, order_item_discount_rate: double, order_item_id: int, order_item_product_price: double, order_item_profit_ratio: double, order_item_quantity: int, sales: double, order_item_total: double, order_profit_per_order: double, order_region: string, order_state: string, order_status: string, order_zipcode: int, product_card_id: int, product_category_id: int, product_description: string, product_image: string, product_name: string, product_price: double, product_status: int, shipping_date_dateorders: string, shipping_mode: string]

In [36]:
chaindf.show()

+--------+----------------------+---------------------------+-----------------+------------------+-----------------+------------------+-----------+--------------+--------------+----------------+--------------+--------------+-----------+--------------+-----------------+----------------+--------------+--------------------+----------------+-------------+---------------+-----------+------------+------------+----------+-------------+-----------------+---------------------+--------+----------------------+-------------------+------------------------+-------------+------------------------+-----------------------+-------------------+------+----------------+----------------------+--------------+--------------------+---------------+-------------+---------------+-------------------+-------------------+--------------------+------------+-------------+--------------+------------------------+--------------+
|    type|days_for_shipping_real|days_for_shipment_scheduled|benefit_per_order|sales_per_customer|  delivery_status|late_delivery_risk|category_id| category_name| customer_city|customer_country|customer_email|customer_fname|customer_id|customer_lname|customer_password|customer_segment|customer_state|     customer_street|customer_zipcode|department_id|department_name|   latitude|   longitude|      market|order_city|order_country|order_customer_id|order_date_dateorders|order_id|order_item_cardprod_id|order_item_discount|order_item_discount_rate|order_item_id|order_item_product_price|order_item_profit_ratio|order_item_quantity| sales|order_item_total|order_profit_per_order|  order_region|         order_state|   order_status|order_zipcode|product_card_id|product_category_id|product_description|       product_image|product_name|product_price|product_status|shipping_date_dateorders| shipping_mode|
+--------+----------------------+---------------------------+-----------------+------------------+-----------------+------------------+-----------+--------------+--------------+----------------+--------------+--------------+-----------+--------------+-----------------+----------------+--------------+--------------------+----------------+-------------+---------------+-----------+------------+------------+----------+-------------+-----------------+---------------------+--------+----------------------+-------------------+------------------------+-------------+------------------------+-----------------------+-------------------+------+----------------+----------------------+--------------+--------------------+---------------+-------------+---------------+-------------------+-------------------+--------------------+------------+-------------+--------------+------------------------+--------------+
|   DEBIT|                     3|                          4|            91.25|       314.6400146| Advance shipping|                 0|         73|Sporting Goods|        Caguas|     Puerto Rico|     XXXXXXXXX|         Cally|      20755|      Holloway|        XXXXXXXXX|        Consumer|            PR|5365 Noble Nectar...|             725|            2|        Fitness| 18.2514534|-66.03705597|Pacific Asia|    Bekasi|    Indonesia|            20755|      1/31/2018 22:56|   77202|                  1360|        13.10999966|             0.039999999|       180517|                  327.75|            0.289999992|                  1|327.75|     314.6400146|                 91.25|Southeast Asia|     Java Occidental|       COMPLETE|         NULL|           1360|                 73|               NULL|http://images.acm...|Smart watch |       327.75|             0|          2/3/2018 22:56|Standard Class|
|TRANSFER|                     5|                          4|     -249.0899963|       311.3599854|    Late delivery|                 1|         73|Sporting Goods|        Caguas|     Puerto Rico|     XXXXXXXXX|         Irene|      19492|          Luna|        XXXXXXXXX|        Consumer|            PR|    2679 Rustic Loop|             725|            2|        Fitness|18.27945137| -66.0370636|Pacific Asia|   Bikaner|        India|            19492|      1/13/2018 12:27|   75939|                  1360|        16.38999939|             0.050000001|       179254|                  327.75|           -0.800000012|                  1|327.75|     311.3599854|          -249.0899963|    South Asia|            Rajast�n|        PENDING|         NULL|           1360|                 73|               NULL|http://images.acm...|Smart watch |       327.75|             0|         1/18/2018 12:27|Standard Class|
|    CASH|                     4|                          4|     -247.7799988|       309.7200012| Shipping on time|                 0|         73|Sporting Goods|      San Jose|         EE. UU.|     XXXXXXXXX|       Gillian|      19491|     Maldonado|        XXXXXXXXX|        Consumer|            CA|8510 Round Bear Gate|           95125|            2|        Fitness|37.29223251| -121.881279|Pacific Asia|   Bikaner|        India|            19491|      1/13/2018 12:06|   75938|                  1360|        18.03000069|             0.059999999|       179253|                  327.75|           -0.800000012|                  1|327.75|     309.7200012|          -247.7799988|    South Asia|            Rajast�n|         CLOSED|         NULL|           1360|                 73|               NULL|http://images.acm...|Smart watch |       327.75|             0|         1/17/2018 12:06|Standard Class|
|   DEBIT|                     3|                          4|      22.86000061|       304.8099976| Advance shipping|                 0|         73|Sporting Goods|   Los Angeles|         EE. UU.|     XXXXXXXXX|          Tana|      19490|          Tate|        XXXXXXXXX|     Home Office|            CA|     3200 Amber Bend|           90027|            2|        Fitness|34.12594605|-118.2910156|Pacific Asia|Townsville|    Australia|            19490|      1/13/2018 11:45|   75937|                  1360|        22.94000053|                    0.07|       179252|                  327.75|            0.079999998|                  1|327.75|     304.8099976|           22.86000061|       Oceania|          Queensland|       COMPLETE|         NULL|           1360|                 73|               NULL|http://images.acm...|Smart watch |       327.75|             0|         1/16/2018 11:45|Standard Class|
| PAYMENT|                     2|                          4|      134.2100067|            298.25| Advance shipping|                 0|         73|Sporting Goods|        Caguas|     Puerto Rico|     XXXXXXXXX|          Orli|      19489|     Hendricks|        XXXXXXXXX|       Corporate|            PR|8671 Iron Anchor ...|             725|            2|        Fitness|18.25376892|-66.03704834|Pacific Asia|Townsville|    Australia|            19489|      1/13/2018 11:24|   75936|                  1360|               29.5|             0.090000004|       179251|                  327.75|            0.449999988|                  1|327.75|          298.25|           134.2100067|       Oceania|          Queensland|PENDING_PAYMENT|         NULL|           1360|                 73|               NULL|http://images.acm...|Smart watch |       327.75|             0|         1/15/2018 11:24|Standard Class|
|TRANSFER|                     6|                          4|      18.57999992|        294.980011|Shipping canceled|                 0|         73|Sporting Goods|     Tonawanda|         EE. UU.|     XXXXXXXXX|      Kimberly|      19488|       Flowers|        XXXXXXXXX|        Consumer|            NY|    2122 Hazy Corner|           14150|            2|        Fitness|43.01396942|-78.87906647|Pacific Asia| Toowoomba|    Australia|            19488|      1/13/2018 11:03|   75935|                  1360|        32.77999878|             0.100000001|       179250|                  327.75|            0.059999999|                  1|327.75|      294.980011|           18.57999992|       Oceania|          Queensland|       CANCELED|         NULL|           1360|                 73|               NULL|http://images.acm...|Smart watch |       327.75|             0|         1/19/2018 11:03|Standard Class|
|   DEBIT|                     2|                          1|      95.18000031|       288.4200134|    Late delivery|                 1|         73|Sporting Goods|        Caguas|     Puerto Rico|     XXXXXXXXX|     Constance|      19487|       Terrell|        XXXXXXXXX|     Home Office|            PR|1879 Green Pine Bank|             725|            2|        Fitness|18.24253845|-66.03705597|Pacific Asia| Guangzhou|        China|            19487|      1/13/2018 10:42|   75934|                  1360|        39.33000183|             0.119999997|       179249|                  327.75|            0.330000013|                  1|327.75|     288.4200134|           95.18000031|  Eastern Asia|           Guangdong|       COMPLETE|         NULL|           1360|                 73|               NULL|http://images.acm...|Smart watch |       327.75|             0|         1/15/2018 10:42|   First Class|
|TRANSFER|                     2|                          1|      68.43000031|       285.1400146|    Late delivery|                 1|         73|Sporting Goods|         Miami|         EE. UU.|     XXXXXXXXX|         Erica|      19486|       Stevens|        XXXXXXXXX|       Corporate|            FL| 7595 Cotton Log Row|           33162|            2|        Fitness|25.92886925|-80.16287231|Pacific Asia| Guangzhou|        China|            19486|      1/13/2018 10:21|   75933|                  1360|        42.61000061|             0.129999995|       179248|                  327.75|            0.239999995|                  1|327.75|     285.1400146|           68.43000031|  Eastern Asia|           Guangdong|     PROCESSING|         NULL|           1360|                 73|               NULL|http://images.acm...|Smart watch |       327.75|             0|         1/15/2018 10:21|   First Class|
|    CASH|                     3|                          2|      133.7200012|       278.5899963|    Late delivery|                 1|         73|Sporting Goods|        Caguas|     Puerto Rico|     XXXXXXXXX|       Nichole|      19485|         Olsen|        XXXXXXXXX|       Corporate|            PR|    2051 Dusty Route|             725|            2|        Fitness|18.23322296|-66.03705597|Pacific Asia| Guangzhou|        China|            19485|      1/13/2018 10:00|   75932|                  1360|        49.15999985|             0.150000006|       179247|                  327.75|            0.479999989|                  1|327.75|     278.5899963|           133.7200012|  Eastern Asia|           Guangdong|         CLOSED|         NULL|           1360|                 73|               NULL|http://images.acm...|Smart watch |       327.75|             0|         1/16/2018 10:00|  Second Class|
|    CASH|                     2|                          1|      132.1499939|       275.3099976|    Late delivery|                 1|         73|Sporting Goods|     San Ramon|         EE. UU.|     XXXXXXXXX|         Oprah|      19484|      Delacruz|        XXXXXXXXX|       Corporate|            CA|9139 Blue Blossom...|           94583|            2|        Fitness|37.77399063| -121.966629|Pacific Asia| Guangzhou|        China|            19484|       1/13/2018 9:39|   75931|                  1360|        52.43999863|             0.159999996|       179246|                  327.75|            0.479999989|                  1|327.75|     275.3099976|           132.1499939|  Eastern Asia|           Guangdong|         CLOSED|         NULL|           1360|                 73|               NULL|http://images.acm...|Smart watch |       327.75|             0|          1/15/2018 9:39|   First Class|
|TRANSFER|                     6|                          2|      130.5800018|       272.0299988|Shipping canceled|                 0|         73|Sporting Goods|        Caguas|     Puerto Rico|     XXXXXXXXX|       Germane|      19483|         Short|        XXXXXXXXX|       Corporate|            PR|  4058 Quiet Heights|             725|            2|        Fitness|18.28284454|-66.03705597|Pacific Asia|     Tokio|        Jap�n|            19483|       1/13/2018 9:18|   75930|                  1360|        55.72000122|             0.170000002|       179245|                  327.75|            0.479999989|                  1|327.75|     272.0299988|           130.5800018|  Eastern Asia|               Tokio|SUSPECTED_FRAUD|         NULL|           1360|                 73|               NULL|http://images.acm...|Smart watch |       327.75|             0|          1/19/2018 9:18|  Second Class|
|TRANSFER|                     5|                          2|      45.68999863|       268.7600098|    Late delivery|                 1|         73|Sporting Goods|      Freeport|         EE. UU.|     XXXXXXXXX|         Freya|      19482|       Robbins|        XXXXXXXXX|        Consumer|            NY|   3243 Shady Corner|           11520|            2|        Fitness|40.65486527|-73.58707428|Pacific Asia|    Manado|    Indonesia|            19482|       1/13/2018 8:57|   75929|                  1360|               59.0|             0.180000007|       179244|                  327.75|            0.170000002|                  1|327.75|     268.7600098|           45.68999863|Southeast Asia|C�lebes Septentri...|        PENDING|         NULL|           1360|                 73|               NULL|http://images.acm...|Smart watch |       327.75|             0|          1/18/2018 8:57|  Second Class|
|TRANSFER|                     4|                          2|      21.76000023|       262.2000122|    Late delivery|                 1|         73|Sporting Goods|       Salinas|         EE. UU.|     XXXXXXXXX|     Cassandra|      19481|        Jensen|        XXXXXXXXX|       Corporate|            CA|131 Sunny Treasur...|           93905|            2|        Fitness| 36.6763382| -121.656517|Pacific Asia|    Manado|    Indonesia|            19481|       1/13/2018 8:36|   75928|                  1360|        65.55000305|             0.200000003|       179243|                  327.75|            0.079999998|                  1|327.75|     262.2000122|           21.76000023|Southeast Asia|C�lebes Septentri...|        PENDING|         NULL|           1360|                 73|               NULL|http://images.acm...|Smart watch |       327.75|             0|          1/17/2018 8:36|  Second Class|
|   DEBIT|                     2|                          1|      24.57999992|       245.8099976|    Late delivery|                 1|         73|Sporting Goods|        Caguas|     Puerto Rico|     XXXXXXXXX|       Natalie|      19480|      Mcfadden|        XXXXXXXXX|       Corporate|            PR| 2531 Wishing Square|             725|            2|        Fitness|18.27843857|-66.03705597|Pacific Asia|    Sangli|        India|            19480|       1/13/2018 8:15|   75927|                  1360|        81.94000244|                    0.25|       179242|                  327.75|            0.100000001|                  1|327.75|     245.8099976|           24.57999992|    South Asia|         Maharashtra|       COMPLETE|         NULL|           1360|                 73|               NULL|http://images.acm...|Smart watch |       327.75|             0|          1/15/2018 8:15|   First Class|
|TRANSFER|                     2|                          1|      16.38999939|            327.75|    Late delivery|                 1|         73|Sporting Goods|       Peabody|         EE. UU.|     XXXXXXXXX|     Kimberley|      19479|        Sharpe|        XXXXXXXXX|       Corporate|            MA|  6417 Silver Towers|            1960|            2|        Fitness|42.52627564|-70.92703247|Pacific Asia|    Sangli|        India|            19479|       1/13/2018 7:54|   75926|                  1360|                0.0|                     0.0|       179241|                  327.75|            0.050000001|                  1|327.75|          327.75|           16.38999939|    South Asia|         Maharashtra|     PROCESSING|         NULL|           1360|                 73|               NULL|http://images.acm...|Smart watch |       327.75|             0|          1/15/2018 7:54|   First Class|
|   DEBIT|                     2|                          1|     -259.5799866|       324.4700012|    Late delivery|                 1|         73|Sporting Goods|        Caguas|     Puerto Rico|     XXXXXXXXX|          Sade|      19478|     Lancaster|        XXXXXXXXX|       Corporate|            PR|   257 Harvest Close|             725|            2|        Fitness|18.28404999|-66.03705597|Pacific Asia|    Sangli|        India|            19478|       1/13/2018 7:33|   75925|                  1360|        3.279999971|                    0.01|       179240|                  327.75|           -0.800000012|                  1|327.75|     324.4700012|          -259.5799866|    South Asia|         Maharashtra|       COMPLETE|         NULL|           1360|                 73|               NULL|http://images.acm...|Smart watch |       327.75|             0|          1/15/2018 7:33|   First Class|
| PAYMENT|                     5|                          2|     -246.3600006|       321.2000122|    Late delivery|                 1|         73|Sporting Goods|     Canovanas|     Puerto Rico|     XXXXXXXXX|        Brynne|      19477|         Giles|        XXXXXXXXX|       Corporate|            PR|7342 Hazy Beacon ...|             729|            2|        Fitness| 18.3957901|-65.87288666|Pacific Asia|      Se�l|Corea del Sur|            19477|       1/13/2018 7:12|   75924|                  1360|        6.559999943|                    0.02|       179239|                  327.75|           -0.769999981|                  1|327.75|     321.2000122|          -246.3600006|  Eastern Asia|                Se�l|PENDING_PAYMENT|         NULL|           1360|                 73|               NULL|http://images.acm...|Smart watch |       327.75|             0|          1/18/2018 7:12|  Second Class|
|    CASH|                     2|                          1|      23.84000015|       317.9200134|    Late delivery|                 1|         73|Sporting Goods|     Paramount|         EE. UU.|     XXXXXXXXX|         Ciara|      19476|          Bird|        XXXXXXXXX|       Corporate|            CA|   7787 Lazy Corners|           90723|            2|        Fitness|33.89869309|-118.1745605|Pacific Asia|  Jabalpur|        India|            19476|       1/13/2018 6:51|   75923|                  1360|        9.829999924|             0.029999999|       179238|                  327.75|            0.079999998|                  1|327.75|     317.9200134|           23.84000015|    South Asia|      Madhya Pradesh|         CLOSED|         NULL|           1360|                 73|               NULL|http://images.acm...|Smart watch |       327.75|             0|          1/15/2018 6:51|   First Class|
|   DEBIT|                     2|                          1|      102.2600021|       314.6400146|    Late delivery|                 1|         73|Sporting Goods|        Caguas|     Puerto Rico|     XXXXXXXXX|            Bo|      19475|       Griffin|        XXXXXXXXX|        Consumer|            PR|5136 Rustic Pione...|             725|            2|        Fitness|  18.233778| -66.0370636|Pacific Asia|  Jabalpur|        India|            19475|       1/13/2018 6:30|   75922|                  1360|        13.10999966|             0.039999999|       179237|                  327.75|            0.330000013|                  1|327.75|     314.6400146|           102.2600021|    South Asia|      Madhya Pradesh|       COMPLETE|         NULL|           1360|                 73|               NULL|http://images.acm...|Smart watch |       327.75|             0|          1/15/2018 6:30|   First Class|

In [84]:
processed_df = chaindf.withColumn(
    "clean_order_date",
    to_date(col("order_date_dateorders"), "yyyy-MM-dd")
).withColumn(
    # Add a column showing the exact time we ran this cleaning job
    "cleaning_timestamp",
    current_timestamp()
).withColumn(
    # Add a simple 'True/False' flag: is the item total over $1000?
    "is_high_value_item",
    when(col("order_item_total") > 1000, lit(True)).otherwise(lit(False))
)
# Fix the date column so Spark knows it's a calendar date, not just text

processed_df.show()

+--------+----------------------+---------------------------+-----------------+------------------+-----------------+------------------+-----------+--------------+--------------+----------------+--------------+--------------+-----------+--------------+-----------------+----------------+--------------+--------------------+----------------+-------------+---------------+-----------+------------+------------+----------+-------------+-----------------+---------------------+--------+----------------------+-------------------+------------------------+-------------+------------------------+-----------------------+-------------------+------+----------------+----------------------+--------------+--------------------+---------------+-------------+---------------+-------------------+-------------------+--------------------+------------+-------------+--------------+------------------------+--------------+----------------+--------------------+------------------+
|    type|days_for_shipping_real|days_for_shipment_scheduled|benefit_per_order|sales_per_customer|  delivery_status|late_delivery_risk|category_id| category_name| customer_city|customer_country|customer_email|customer_fname|customer_id|customer_lname|customer_password|customer_segment|customer_state|     customer_street|customer_zipcode|department_id|department_name|   latitude|   longitude|      market|order_city|order_country|order_customer_id|order_date_dateorders|order_id|order_item_cardprod_id|order_item_discount|order_item_discount_rate|order_item_id|order_item_product_price|order_item_profit_ratio|order_item_quantity| sales|order_item_total|order_profit_per_order|  order_region|         order_state|   order_status|order_zipcode|product_card_id|product_category_id|product_description|       product_image|product_name|product_price|product_status|shipping_date_dateorders| shipping_mode|clean_order_date|  cleaning_timestamp|is_high_value_item|
+--------+----------------------+---------------------------+-----------------+------------------+-----------------+------------------+-----------+--------------+--------------+----------------+--------------+--------------+-----------+--------------+-----------------+----------------+--------------+--------------------+----------------+-------------+---------------+-----------+------------+------------+----------+-------------+-----------------+---------------------+--------+----------------------+-------------------+------------------------+-------------+------------------------+-----------------------+-------------------+------+----------------+----------------------+--------------+--------------------+---------------+-------------+---------------+-------------------+-------------------+--------------------+------------+-------------+--------------+------------------------+--------------+----------------+--------------------+------------------+
|   DEBIT|                     3|                          4|            91.25|       314.6400146| Advance shipping|                 0|         73|Sporting Goods|        Caguas|     Puerto Rico|     XXXXXXXXX|         Cally|      20755|      Holloway|        XXXXXXXXX|        Consumer|            PR|5365 Noble Nectar...|             725|            2|        Fitness| 18.2514534|-66.03705597|Pacific Asia|    Bekasi|    Indonesia|            20755|      1/31/2018 22:56|   77202|                  1360|        13.10999966|             0.039999999|       180517|                  327.75|            0.289999992|                  1|327.75|     314.6400146|                 91.25|Southeast Asia|     Java Occidental|       COMPLETE|         NULL|           1360|                 73|               NULL|http://images.acm...|Smart watch |       327.75|             0|          2/3/2018 22:56|Standard Class|            NULL|2025-11-29 18:28:...|             false|
|TRANSFER|                     5|                          4|     -249.0899963|       311.3599854|    Late delivery|                 1|         73|Sporting Goods|        Caguas|     Puerto Rico|     XXXXXXXXX|         Irene|      19492|          Luna|        XXXXXXXXX|        Consumer|            PR|    2679 Rustic Loop|             725|            2|        Fitness|18.27945137| -66.0370636|Pacific Asia|   Bikaner|        India|            19492|      1/13/2018 12:27|   75939|                  1360|        16.38999939|             0.050000001|       179254|                  327.75|           -0.800000012|                  1|327.75|     311.3599854|          -249.0899963|    South Asia|            Rajast�n|        PENDING|         NULL|           1360|                 73|               NULL|http://images.acm...|Smart watch |       327.75|             0|         1/18/2018 12:27|Standard Class|            NULL|2025-11-29 18:28:...|             false|
|    CASH|                     4|                          4|     -247.7799988|       309.7200012| Shipping on time|                 0|         73|Sporting Goods|      San Jose|         EE. UU.|     XXXXXXXXX|       Gillian|      19491|     Maldonado|        XXXXXXXXX|        Consumer|            CA|8510 Round Bear Gate|           95125|            2|        Fitness|37.29223251| -121.881279|Pacific Asia|   Bikaner|        India|            19491|      1/13/2018 12:06|   75938|                  1360|        18.03000069|             0.059999999|       179253|                  327.75|           -0.800000012|                  1|327.75|     309.7200012|          -247.7799988|    South Asia|            Rajast�n|         CLOSED|         NULL|           1360|                 73|               NULL|http://images.acm...|Smart watch |       327.75|             0|         1/17/2018 12:06|Standard Class|            NULL|2025-11-29 18:28:...|             false|
|   DEBIT|                     3|                          4|      22.86000061|       304.8099976| Advance shipping|                 0|         73|Sporting Goods|   Los Angeles|         EE. UU.|     XXXXXXXXX|          Tana|      19490|          Tate|        XXXXXXXXX|     Home Office|            CA|     3200 Amber Bend|           90027|            2|        Fitness|34.12594605|-118.2910156|Pacific Asia|Townsville|    Australia|            19490|      1/13/2018 11:45|   75937|                  1360|        22.94000053|                    0.07|       179252|                  327.75|            0.079999998|                  1|327.75|     304.8099976|           22.86000061|       Oceania|          Queensland|       COMPLETE|         NULL|           1360|                 73|               NULL|http://images.acm...|Smart watch |       327.75|             0|         1/16/2018 11:45|Standard Class|            NULL|2025-11-29 18:28:...|             false|
| PAYMENT|                     2|                          4|      134.2100067|            298.25| Advance shipping|                 0|         73|Sporting Goods|        Caguas|     Puerto Rico|     XXXXXXXXX|          Orli|      19489|     Hendricks|        XXXXXXXXX|       Corporate|            PR|8671 Iron Anchor ...|             725|            2|        Fitness|18.25376892|-66.03704834|Pacific Asia|Townsville|    Australia|            19489|      1/13/2018 11:24|   75936|                  1360|               29.5|             0.090000004|       179251|                  327.75|            0.449999988|                  1|327.75|          298.25|           134.2100067|       Oceania|          Queensland|PENDING_PAYMENT|         NULL|           1360|                 73|               NULL|http://images.acm...|Smart watch |       327.75|             0|         1/15/2018 11:24|Standard Class|            NULL|2025-11-29 18:28:...|             false|
|TRANSFER|                     6|                          4|      18.57999992|        294.980011|Shipping canceled|                 0|         73|Sporting Goods|     Tonawanda|         EE. UU.|     XXXXXXXXX|      Kimberly|      19488|       Flowers|        XXXXXXXXX|        Consumer|            NY|    2122 Hazy Corner|           14150|            2|        Fitness|43.01396942|-78.87906647|Pacific Asia| Toowoomba|    Australia|            19488|      1/13/2018 11:03|   75935|                  1360|        32.77999878|             0.100000001|       179250|                  327.75|            0.059999999|                  1|327.75|      294.980011|           18.57999992|       Oceania|          Queensland|       CANCELED|         NULL|           1360|                 73|               NULL|http://images.acm...|Smart watch |       327.75|             0|         1/19/2018 11:03|Standard Class|            NULL|2025-11-29 18:28:...|             false|
|   DEBIT|                     2|                          1|      95.18000031|       288.4200134|    Late delivery|                 1|         73|Sporting Goods|        Caguas|     Puerto Rico|     XXXXXXXXX|     Constance|      19487|       Terrell|        XXXXXXXXX|     Home Office|            PR|1879 Green Pine Bank|             725|            2|        Fitness|18.24253845|-66.03705597|Pacific Asia| Guangzhou|        China|            19487|      1/13/2018 10:42|   75934|                  1360|        39.33000183|             0.119999997|       179249|                  327.75|            0.330000013|                  1|327.75|     288.4200134|           95.18000031|  Eastern Asia|           Guangdong|       COMPLETE|         NULL|           1360|                 73|               NULL|http://images.acm...|Smart watch |       327.75|             0|         1/15/2018 10:42|   First Class|            NULL|2025-11-29 18:28:...|             false|
|TRANSFER|                     2|                          1|      68.43000031|       285.1400146|    Late delivery|                 1|         73|Sporting Goods|         Miami|         EE. UU.|     XXXXXXXXX|         Erica|      19486|       Stevens|        XXXXXXXXX|       Corporate|            FL| 7595 Cotton Log Row|           33162|            2|        Fitness|25.92886925|-80.16287231|Pacific Asia| Guangzhou|        China|            19486|      1/13/2018 10:21|   75933|                  1360|        42.61000061|             0.129999995|       179248|                  327.75|            0.239999995|                  1|327.75|     285.1400146|           68.43000031|  Eastern Asia|           Guangdong|     PROCESSING|         NULL|           1360|                 73|               NULL|http://images.acm...|Smart watch |       327.75|             0|         1/15/2018 10:21|   First Class|            NULL|2025-11-29 18:28:...|             false|
|    CASH|                     3|                          2|      133.7200012|       278.5899963|    Late delivery|                 1|         73|Sporting Goods|        Caguas|     Puerto Rico|     XXXXXXXXX|       Nichole|      19485|         Olsen|        XXXXXXXXX|       Corporate|            PR|    2051 Dusty Route|             725|            2|        Fitness|18.23322296|-66.03705597|Pacific Asia| Guangzhou|        China|            19485|      1/13/2018 10:00|   75932|                  1360|        49.15999985|             0.150000006|       179247|                  327.75|            0.479999989|                  1|327.75|     278.5899963|           133.7200012|  Eastern Asia|           Guangdong|         CLOSED|         NULL|           1360|                 73|               NULL|http://images.acm...|Smart watch |       327.75|             0|         1/16/2018 10:00|  Second Class|            NULL|2025-11-29 18:28:...|             false|
|    CASH|                     2|                          1|      132.1499939|       275.3099976|    Late delivery|                 1|         73|Sporting Goods|     San Ramon|         EE. UU.|     XXXXXXXXX|         Oprah|      19484|      Delacruz|        XXXXXXXXX|       Corporate|            CA|9139 Blue Blossom...|           94583|            2|        Fitness|37.77399063| -121.966629|Pacific Asia| Guangzhou|        China|            19484|       1/13/2018 9:39|   75931|                  1360|        52.43999863|             0.159999996|       179246|                  327.75|            0.479999989|                  1|327.75|     275.3099976|           132.1499939|  Eastern Asia|           Guangdong|         CLOSED|         NULL|           1360|                 73|               NULL|http://images.acm...|Smart watch |       327.75|             0|          1/15/2018 9:39|   First Class|            NULL|2025-11-29 18:28:...|             false|
|TRANSFER|                     6|                          2|      130.5800018|       272.0299988|Shipping canceled|                 0|         73|Sporting Goods|        Caguas|     Puerto Rico|     XXXXXXXXX|       Germane|      19483|         Short|        XXXXXXXXX|       Corporate|            PR|  4058 Quiet Heights|             725|            2|        Fitness|18.28284454|-66.03705597|Pacific Asia|     Tokio|        Jap�n|            19483|       1/13/2018 9:18|   75930|                  1360|        55.72000122|             0.170000002|       179245|                  327.75|            0.479999989|                  1|327.75|     272.0299988|           130.5800018|  Eastern Asia|               Tokio|SUSPECTED_FRAUD|         NULL|           1360|                 73|               NULL|http://images.acm...|Smart watch |       327.75|             0|          1/19/2018 9:18|  Second Class|            NULL|2025-11-29 18:28:...|             false|
|TRANSFER|                     5|                          2|      45.68999863|       268.7600098|    Late delivery|                 1|         73|Sporting Goods|      Freeport|         EE. UU.|     XXXXXXXXX|         Freya|      19482|       Robbins|        XXXXXXXXX|        Consumer|            NY|   3243 Shady Corner|           11520|            2|        Fitness|40.65486527|-73.58707428|Pacific Asia|    Manado|    Indonesia|            19482|       1/13/2018 8:57|   75929|                  1360|               59.0|             0.180000007|       179244|                  327.75|            0.170000002|                  1|327.75|     268.7600098|           45.68999863|Southeast Asia|C�lebes Septentri...|        PENDING|         NULL|           1360|                 73|               NULL|http://images.acm...|Smart watch |       327.75|             0|          1/18/2018 8:57|  Second Class|            NULL|2025-11-29 18:28:...|             false|
|TRANSFER|                     4|                          2|      21.76000023|       262.2000122|    Late delivery|                 1|         73|Sporting Goods|       Salinas|         EE. UU.|     XXXXXXXXX|     Cassandra|      19481|        Jensen|        XXXXXXXXX|       Corporate|            CA|131 Sunny Treasur...|           93905|            2|        Fitness| 36.6763382| -121.656517|Pacific Asia|    Manado|    Indonesia|            19481|       1/13/2018 8:36|   75928|                  1360|        65.55000305|             0.200000003|       179243|                  327.75|            0.079999998|                  1|327.75|     262.2000122|           21.76000023|Southeast Asia|C�lebes Septentri...|        PENDING|         NULL|           1360|                 73|               NULL|http://images.acm...|Smart watch |       327.75|             0|          1/17/2018 8:36|  Second Class|            NULL|2025-11-29 18:28:...|             false|
|   DEBIT|                     2|                          1|      24.57999992|       245.8099976|    Late delivery|                 1|         73|Sporting Goods|        Caguas|     Puerto Rico|     XXXXXXXXX|       Natalie|      19480|      Mcfadden|        XXXXXXXXX|       Corporate|            PR| 2531 Wishing Square|             725|            2|        Fitness|18.27843857|-66.03705597|Pacific Asia|    Sangli|        India|            19480|       1/13/2018 8:15|   75927|                  1360|        81.94000244|                    0.25|       179242|                  327.75|            0.100000001|                  1|327.75|     245.8099976|           24.57999992|    South Asia|         Maharashtra|       COMPLETE|         NULL|           1360|                 73|               NULL|http://images.acm...|Smart watch |       327.75|             0|          1/15/2018 8:15|   First Class|            NULL|2025-11-29 18:28:...|             false|
|TRANSFER|                     2|                          1|      16.38999939|            327.75|    Late delivery|                 1|         73|Sporting Goods|       Peabody|         EE. UU.|     XXXXXXXXX|     Kimberley|      19479|        Sharpe|        XXXXXXXXX|       Corporate|            MA|  6417 Silver Towers|            1960|            2|        Fitness|42.52627564|-70.92703247|Pacific Asia|    Sangli|        India|            19479|       1/13/2018 7:54|   75926|                  1360|                0.0|                     0.0|       179241|                  327.75|            0.050000001|                  1|327.75|          327.75|           16.38999939|    South Asia|         Maharashtra|     PROCESSING|         NULL|           1360|                 73|               NULL|http://images.acm...|Smart watch |       327.75|             0|          1/15/2018 7:54|   First Class|            NULL|2025-11-29 18:28:...|             false|
|   DEBIT|                     2|                          1|     -259.5799866|       324.4700012|    Late delivery|                 1|         73|Sporting Goods|        Caguas|     Puerto Rico|     XXXXXXXXX|          Sade|      19478|     Lancaster|        XXXXXXXXX|       Corporate|            PR|   257 Harvest Close|             725|            2|        Fitness|18.28404999|-66.03705597|Pacific Asia|    Sangli|        India|            19478|       1/13/2018 7:33|   75925|                  1360|        3.279999971|                    0.01|       179240|                  327.75|           -0.800000012|                  1|327.75|     324.4700012|          -259.5799866|    South Asia|         Maharashtra|       COMPLETE|         NULL|           1360|                 73|               NULL|http://images.acm...|Smart watch |       327.75|             0|          1/15/2018 7:33|   First Class|            NULL|2025-11-29 18:28:...|             false|
| PAYMENT|                     5|                          2|     -246.3600006|       321.2000122|    Late delivery|                 1|         73|Sporting Goods|     Canovanas|     Puerto Rico|     XXXXXXXXX|        Brynne|      19477|         Giles|        XXXXXXXXX|       Corporate|            PR|7342 Hazy Beacon ...|             729|            2|        Fitness| 18.3957901|-65.87288666|Pacific Asia|      Se�l|Corea del Sur|            19477|       1/13/2018 7:12|   75924|                  1360|        6.559999943|                    0.02|       179239|                  327.75|           -0.769999981|                  1|327.75|     321.2000122|          -246.3600006|  Eastern Asia|                Se�l|PENDING_PAYMENT|         NULL|           1360|                 73|               NULL|http://images.acm...|Smart watch |       327.75|             0|          1/18/2018 7:12|  Second Class|            NULL|2025-11-29 18:28:...|             false|

In [48]:
final_df = processed_df.filter(
    (col("order_status") != "Canceled") &
    (col("order_status") != "Suspected Fraud")
)

print(f"Rows removed. Final count: {final_df.count()}")
final_df.printSchema()

Rows removed. Final count: 180519
root
 |-- type: string (nullable = true)
 |-- days_for_shipping_real: string (nullable = true)
 |-- days_for_shipment_scheduled: string (nullable = true)
 |-- benefit_per_order: string (nullable = true)
 |-- sales_per_customer: string (nullable = true)
 |-- delivery_status: string (nullable = true)
 |-- late_delivery_risk: string (nullable = true)
 |-- category_id: string (nullable = true)
 |-- category_name: string (nullable = true)
 |-- customer_city: string (nullable = true)
 |-- customer_country: string (nullable = true)
 |-- customer_email: string (nullable = true)
 |-- customer_fname: string (nullable = true)
 |-- customer_id: integer (nullable = true)
 |-- customer_lname: string (nullable = true)
 |-- customer_password: string (nullable = true)
 |-- customer_segment: string (nullable = true)
 |-- customer_state: string (nullable = true)
 |-- customer_street: string (nullable = true)
 |-- customer_zipcode: integer (nullable = true)
 |-- department_id: integer (nullable = true)
 |-- department_name: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- market: string (nullable = true)
 |-- order_city: string (nullable = true)
 |-- order_country: string (nullable = true)
 |-- order_customer_id: integer (nullable = true)
 |-- order_date_dateorders: string (nullable = true)
 |-- order_id: integer (nullable = true)
 |-- order_item_cardprod_id: integer (nullable = true)
 |-- order_item_discount: double (nullable = true)
 |-- order_item_discount_rate: double (nullable = true)
 |-- order_item_id: integer (nullable = true)
 |-- order_item_product_price: double (nullable = true)
 |-- order_item_profit_ratio: double (nullable = true)
 |-- order_item_quantity: integer (nullable = true)
 |-- sales: double (nullable = true)
 |-- order_item_total: double (nullable = true)
 |-- order_profit_per_order: double (nullable = true)
 |-- order_region: string (nullable = true)
 |-- order_state: string (nullable = true)
 |-- order_status: string (nullable = true)
 |-- order_zipcode: integer (nullable = true)
 |-- product_card_id: integer (nullable = true)
 |-- product_category_id: integer (nullable = true)
 |-- product_description: string (nullable = true)
 |-- product_image: string (nullable = true)
 |-- product_name: string (nullable = true)
 |-- product_price: double (nullable = true)
 |-- product_status: integer (nullable = true)
 |-- shipping_date_dateorders: string (nullable = true)
 |-- shipping_mode: string (nullable = true)
 |-- clean_order_date: date (nullable = true)
 |-- cleaning_timestamp: timestamp (nullable = false)
 |-- is_high_value_item: boolean (nullable = false)

In [63]:
from pyspark.sql.functions import month

final_df.withColumn("order_month", month("clean_order_date")) \
    .groupBy("order_month").agg({"order_item_total" : "sum"}) \
    .orderBy("order_month").show()

+-----------+---------------------+
|order_month|sum(order_item_total)|
+-----------+---------------------+
|       NULL| 3.3054402380243767E7|
+-----------+---------------------+

In [61]:
from pyspark.sql.window import Window
from pyspark.sql.functions import rank, col

#ranking regions by total revenue

rankedo_regions_df = final_df.groupBy("order_region").agg({"order_item_total": "sum"})
ranked_regions_df = ranked_regions_df.withColumnRenamed("sum(order_item_total)", "order_item_total")
window_spec = Window.orderBy(col("order_item_total").desc())
ranked_regions_df = ranked_regions_df.withColumn("rank", rank().over(window_spec))
ranked_regions_df.orderBy("rank").show(truncate=False)

+---------------+------------------+----+
|order_region   |order_item_total  |rank|
+---------------+------------------+----+
|Western Europe |5296002.889842125 |1   |
|Central America|5093849.716162516 |2   |
|South America  |2660243.6894642645|3   |
|Northern Europe|1939362.4270527153|4   |
|Southern Europe|1837525.8170129675|5   |
|Oceania        |1809996.5475716766|6   |
|Southeast Asia |1738553.4361501161|7   |
|Caribbean      |1481668.6862140293|8   |
|West of USA    |1412253.596013557 |9   |
|South Asia     |1397364.5733737191|10  |
|Eastern Asia   |1334313.4126545307|11  |
|East of USA    |1231955.1338964938|12  |
|West Asia      |1056080.9921746957|13  |
|US Center      |1034129.4315050505|14  |
|South of  USA  |706904.3379142467 |15  |
|Eastern Europe |696307.1877618035 |16  |
|West Africa    |654168.0272417009 |17  |
|North Africa   |572241.9663370887 |18  |
|East Africa    |338054.31389209436|19  |
|Central Africa |292912.56316194165|20  |
+---------------+------------------+----+
only showing top 20 rows

In [56]:
#average item price
final_df.agg({"product_price" : "avg"}).show()

+------------------+
|avg(product_price)|
+------------------+
|141.23254992874294|
+------------------+

In [ ]:
#Total Revenue by region

In [50]:
#dlivery status count
final_df.groupBy("delivery_status").count().show()

+-----------------+-----+
|  delivery_status|count|
+-----------------+-----+
| Shipping on time|32196|
| Advance shipping|41592|
|Shipping canceled| 7754|
|    Late delivery|98977|
+-----------------+-----+

In [ ]:
final_df.groupBy("order_region")

In [54]:
#DeliveryStatus count per region
final_df.groupBy("order_region").pivot("delivery_status").agg({"customer_id":"count"}).show()

+---------------+----------------+-------------+-----------------+----------------+
|   order_region|Advance shipping|Late delivery|Shipping canceled|Shipping on time|
+---------------+----------------+-------------+-----------------+----------------+
|     South Asia|            1765|         4350|              276|            1340|
| Eastern Europe|             879|         2182|              135|             724|
|Southern Europe|            2246|         5129|              401|            1655|
|   West of USA |            1835|         4313|              398|            1447|
|   Central Asia|             112|          306|               11|             124|
|Central America|            6566|        15518|             1167|            5090|
|    East of USA|            1560|         3849|              298|            1208|
|   North Africa|             760|         1762|              146|             564|
|Northern Europe|            2341|         5292|              384|            1775|
|      Caribbean|            1997|         4415|              367|            1539|
|  South America|            3476|         8111|              751|            2597|
|Southern Africa|             283|          617|               57|             200|
| South of  USA |             927|         2256|              190|             672|
| Western Europe|            6138|        15140|             1242|            4589|
|        Oceania|            2324|         5482|              415|            1927|
|         Canada|             282|          468|               52|             157|
|     US Center |            1227|         3252|              234|            1174|
|      West Asia|            1310|         3322|              263|            1114|
|   Eastern Asia|            1754|         3955|              307|            1264|
|    East Africa|             399|         1036|               71|             346|
+---------------+----------------+-------------+-----------------+----------------+
only showing top 20 rows

In [76]:
from pyspark.sql.window import Window as W
final_df.groupBy("delivery_status").agg(F.count("*").alias("status_count")).withColumn("rate", F.col("status_count") * 100 / F.sum("status_count").over(W.partitionBy())).filter(F.col("delivery_status") == "Late delivery").show()

+---------------+------------+------------------+
|delivery_status|status_count|              rate|
+---------------+------------+------------------+
|  Late delivery|       98977|54.829131559558824|
+---------------+------------+------------------+

In [83]:
#Average product price per category
final_df.groupBy("category_name").agg(F.avg("order_item_product_price").alias("avg_category_price")).show()

+--------------------+------------------+
|       category_name|avg_category_price|
+--------------------+------------------+
|    Men's Golf Clubs|117.79918860671388|
| Children's Clothing|  357.100006099996|
|      Sporting Goods|            327.75|
|    Camping & Hiking| 299.9800109999285|
| Fitness Accessories| 53.27479095249206|
|            Cameras |452.04000849999267|
|          Golf Shoes| 78.00190839694656|
|           Computers|            1500.0|
|Consumer Electronics| 252.8800048999986|
|          Basketball| 404.4676021402983|
|   Health and Beauty|293.04000850000006|
|        Pet Supplies|  84.4000015299998|
|                DVDs| 164.3800048999987|
|      Men's Footwear|129.99000550001438|
|              Crafts|461.48001100000477|
|    Women's Clothing|215.82000730000178|
|         Electronics| 39.43360013087904|
|         Video Games|             39.75|
|     Women's Apparel|              50.0|
|      Girls' Apparel| 41.75020857951714|
+--------------------+------------------+
only showing top 20 rows